.about {
  padding: 100px 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../../img/about/about-bg.png");
  border-radius: 0px 10px 10px 0px;
  background-size: cover;
  max-width: 1071px;
  height: 749px;
  position: relative;
  z-index: 0;
  left: 0;
}

.about__content {
  max-width: 100%;
  display: inline-block;
  position: absolute;
  right: -420px;
}

.about__content-title {
  max-width: 542px;
  max-height: 476px;
  padding: 61px 75px 105px 85px;
  margin-top: 137px;

  background: #ededed;
  border-radius: 10px;
}

.about__content-title h2 {
  font-size: 24px;
  font-weight: 700;
  color: #0499dd;
  margin-bottom: 40px;
}

.about__content-title p {
  font-weight: 500;
  line-height: 17px;
  margin-bottom: 20px;
}
